html {
  scroll-behavior: smooth;
}

.topnav {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #30405c;
  height: 100px;
  overflow: hidden;
}

.topnav h1 {
  text-transform: uppercase;
  font-family: "Oswald";
  color: #30405c;
  font-size: 55px;
  letter-spacing: 2px;
  color: white;
  margin-left: 30px;
}

.topnav .nav-links {
  text-transform: uppercase;
  font-family: "Oswald";
  color: #30405c;
}

.topnav .nav-links a {
  font-weight: 300;
  color: white;
  font-size: 30px;
  margin: 15px;
  margin-right: 40px;
  text-decoration: none;
}

.topnav a:hover {
  color: #d15254;
  text-decoration: none;
}

#ca-plate-section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#ca-plate-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#ca-plate-div .ca-plate-number {
  position: absolute;
  font-family: "Dosis";
  margin-top: 0.2em;
  color: #30405c;
  font-weight: 700;
  font-size: 8vw;
  letter-spacing: 0.1em;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5), -3px -3px 3px rgba(255, 255, 255, 0.5);
}

#ca-plate-div img {
  width: 55vw;
}

.ca-plate-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ca-plate-button #ca-plate-button {
  text-transform: uppercase;
  font-family: "Oswald";
  color: #30405c;
  background-color: #8f3637;
  color: white;
  font-size: 25px;
  border-radius: 5px;
  height: 6vh;
  width: 12vh;
}

.ca-plate-button #ca-plate-button:hover {
  background-color: #30405c;
}

.ca-plate-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.ca-plate-info p {
  font-weight: 600;
  font-size: 2em;
  text-transform: uppercase;
  font-family: "Oswald";
  color: #30405c;
  margin: 5px;
}

.ca-plate-info span {
  font-weight: 300;
  text-transform: lowercase;
}

#ny-plate-section {
  min-height: 100vh;
}

.ny-plate-number {
  font-family: "Dosis";
  position: absolute;
  margin-top: 20px;
  color: #0b103c;
  font-weight: 700;
  font-size: 150px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5), -3px -3px 3px rgba(255, 255, 255, 0.5);
}

.ny-plate-div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
}

.ny-plate-div .ny-plate-svg {
  width: 55vw;
}

.ny-plate-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.ny-plate-button #ny-plate-button {
  position: absolute;
  background-color: #0b103c;
  border-radius: 5px;
  color: #ffc31f;
  font-size: 20px;
  font-family: "Dosis";
  font-weight: 500;
  text-transform: uppercase;
}

.about-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 2em;
}

.about-div p {
  width: 70vw;
  font-size: 20px;
}

.resource-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  bottom: 0;
  background-color: #30405c;
}

.resource-section h1 {
  text-transform: uppercase;
  font-family: "Oswald";
  color: #30405c;
  font-size: 50px;
  color: white;
  margin: 20px;
}

.resource-section .resource-links {
  text-transform: uppercase;
  font-family: "Oswald";
  color: #30405c;
}

.resource-section .resource-links a {
  font-size: 28px;
  font-weight: 300;
  margin: 12px;
  color: white;
}

.resource-section .resource-links a:hover {
  color: #d15254;
  text-decoration: none;
}

@media only screen and (max-width: 1280px) {
  .topnav > h1,
  .resource-section > h1 {
    font-size: 35px;
  }
  .topnav > .nav-links a {
    font-size: 25px;
    margin-right: 20px;
  }
  #ca-plate-div img {
    width: 80vw;
  }
}

@media only screen and (max-width: 1030px) {
  .topnav > h1 {
    font-size: 35px;
  }
  .topnav > .nav-links {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .topnav > h1 {
    font-size: 25px;
  }
}
/*# sourceMappingURL=plates.css.map */