$ny-yellow: #ffc31f;
$ny-blue: #0b103c;
$ca-blue: #30405c;
$ca-red: #8f3637;
$ca-light-red: #bf494b;
$nav-color: #30405c;

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin main-font {
  text-transform: uppercase;
  font-family: "Oswald";
  color: $ca-blue;
}

.main-heading {
  @include center-flex();
  flex-direction: column;
  @include main-font();
  font-size: 2vw;
  margin-top: 50px;
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
    font-size: 1em;
  }
}

// Navbar Styles
/* Add a black background color to the top navigation */
.topnav {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: $ca-blue;
  height: 85px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

/* Style the links inside the navigation bar */
.topnav a {
  @include main-font();
  color: white;
  font-size: 30px;
  color: #f2f2f2;
  margin: 20px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: $ca-light-red;
  text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: $ca-light-red;
}

.ca-content {
  display: flex;
  flex-direction: row;
}

.ca-heading {
  @include center-flex();
  @include main-font();
  font-size: 1.5vw;
  h2 {
    margin: 0;
  }
}

#ca-plate-div {
  @include center-flex();
  position: relative;
  margin: -20px;
  .ca-plate-number {
    position: absolute;
    font-family: "Dosis";
    margin-top: 0.2em;
    color: $ca-blue;
    font-weight: 700;
    font-size: 8vw;
    letter-spacing: 0.1em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5),
      -3px -3px 3px rgba(255, 355, 255, 0.5);
  }
  img {
    width: 50vw;
  }
}
.ca-plate-button {
  @include center-flex();
  #ca-plate-button {
    @include main-font();
    font-size: 20px;
    border-radius: 5px;
    height: 60px;
    width: 110px;
  }
}

.ca-plate-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  p {
    font-weight: 600;
    font-size: 2em;
    @include main-font();
    margin: 5px;
  }
  span {
    font-weight: 300;
    text-transform: lowercase;
  }
}

.ny-plate-number {
  font-family: "Dosis";
  position: absolute;
  margin-top: 20px;
  color: $ny-blue;
  font-weight: 700;
  font-size: 150px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5),
    -3px -3px 3px rgba(255, 355, 255, 0.5);
}

.ny-plate-div {
  position: relative;
  @include center-flex();
  margin: 30px;
  .ny-plate-svg {
    width: 55vw;
  }
}

.ny-plate-button {
  @include center-flex();
  #ny-plate-button {
    height: 77px;
    width: 200px;
    background-color: $ny-blue;
    border-radius: 5px;
    color: $ny-yellow;
    font-size: 20px;
    font-family: "Dosis";
    font-weight: 500;
    text-transform: uppercase;
  }
}

.about-div {
  @include center-flex();
  flex-direction: column;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 2em;
  margin-top: 75px;
  p {
    width: 70vw;
    font-size: 20px;
  }
}
